/*
* VARIABLES
****/

$palettes: ( 
  clear-day: ( 
    text: #2C3E50, 
    light: #fcfcfc, 
    dark: #99c8ff,
    accent: #eeefbc), 
  clear-night: ( 
    text: #eee, 
    light: #001848, 
    dark: #604878, 
    accent: #bc9fbc), 
  rain: ( 
    text: #efefef, 
    light: #333, 
    dark: #3f314a, 
    accent: #566f97), 
  snow: ( 
    text: #454545, 
    light: #cce3ff , 
    dark: #ffffff, 
    accent: #aaaaad),
  sleet: ( 
    text: #252525, 
    light: #D9DCD3, 
    dark: #4A545F, 
    accent: #E8F6FA), 
  wind: ( 
    text: #6b4836,
    light: #f5ffef, 
    dark: #616d63, 
    accent: #dcbb8d), 
  fog: ( 
    text: #2d4140, 
    light: #edf8f0, 
    dark: #888a8c, 
    accent: #bddae0), 
  cloudy: ( 
    text: #000000, 
    light: #787878, 
    dark: #474444, 
    accent: #8f8f8f), 
  partly-cloudy-day: ( 
    text: #454545, 
    light: #fcfcfc, 
    dark: #dddddd, 
    accent:#0085ff), 
  partly-cloudy-night: ( 
    text: #000044, 
    light: #C0C0C0, 
    dark: #003366, 
    accent: #6699CC), 
);

$font-stack: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
